# Examination of Poverty Dynamics through Data Visualization

In [6]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

## Reading the required datasets

In [7]:
dist_data = pd.read_csv(r'datasets/pca-total.csv')
dist_data_columns = pd.read_csv(r'datasets/pca-colnames.csv')

In [8]:
dist_data

,State,District,Level,Name,TRU,TRU1,No_HH,TOT_P,TOT_M,TOT_F,...,MARG_AL_0_3_F,MARG_HH_0_3_P,MARG_HH_0_3_M,MARG_HH_0_3_F,MARG_OT_0_3_P,MARG_OT_0_3_M,MARG_OT_0_3_F,NON_WORK_P,NON_WORK_M,NON_WORK_F
0,1,1,DISTRICT,Kupwara,Total,2379.0,113929,870354,474190,396164,...,1955,1216,597,619,7369,4727,2642,641290,283291,357999
1,1,2,DISTRICT,Badgam,Total,1361.0,103363,753745,398041,355704,...,2035,3823,1148,2675,4674,2393,2281,538879,235463,303416
2,1,3,DISTRICT,Leh(Ladakh),Total,45110.0,21909,133487,78971,54516,...,106,65,17,48,633,416,217,58408,25706,32702
3,1,4,DISTRICT,Kargil,Total,14036.0,18338,140802,77785,63017,...,521,263,93,170,3887,2920,967,88929,37946,50983
4,1,5,DISTRICT,Punch,Total,1674.0,90261,476835,251899,224936,...,2035,948,243,705,6374,2762,3612,315442,134222,181220
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
635,34,636,DISTRICT,Mahe,Total,9.0,7420,41816,19143,22673,...,1,1,0,1,160,78,82,30014,10050,19964
636,34,637,DISTRICT,Karaikal,Total,157.0,49705,200222,97809,102413,...,383,100,17,83,1036,605,431,131921,44670,87251
637,35,638,DISTRICT,Nicobars,Total,1841.0,9288,36842,20727,16115,...,21,481,237,244,1346,946,400,19717,8013,11704
638,35,639,DISTRICT,North & Middle Andaman,Total,3736.0,26199,105597,54861,50736,...,120,30,21,9,1117,697,420,67018,24249,42769
639,35,640,DISTRICT,South Andaman,Total,2672.0,59064,238142,127283,110859,...,63,48,24,24,1311,933,378,141311,49720,91591